{% extends "AppBundle::base.html.twig" %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Profiling PHP - Demo App</h1>
                <h2><a href="{{ path('case-study-overview') }}">Go to the case studies</a></h2>
            </div>
        </div>
    </div>
{% endblock %}