{% extends "AppBundle::base.html.twig" %}

{% block title %}Case Study: Exception{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Profiling PHP - Demo App</h1>
                <h2>Case Study: Exception</h2>
            </div>
            <div><a href="{{ path('case-study-overview') }}">Back to overview</a></div>
        </div>
    </div>
{% endblock %}
