{% extends "AppBundle::base.html.twig" %}

{% block title %}Case Study: Overview{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Profiling PHP - Demo App</h1>
                <h2>Case Studies: Overview</h2>
                <ol>
                    <li><a href="{{ path('case-study-calendar') }}">Calendar - SQLite data</a></li>
                    <li><a href="{{ path('case-study-static-file') }}">Static File - I/O</a></li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}