{% extends "AppBundle::base.html.twig" %}

{% block title %}Case Study: File - multiple access{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Profiling PHP - Demo App</h1>
                <h2>Case Study: File - multiple access</h2>
                <h3>Number of singleton instance calls: {{ container | length }}</h3>
                <ol>
                    {% for singleton in container %}
                        <li>{{ singleton.identifier }}</li>
                    {% endfor %}
                </ol>
            </div>
            <div><a href="{{ path('case-study-overview') }}">Back to overview</a></div>
        </div>
    </div>
{% endblock %}
